extends layout

block content
  .row.banner
    .col-12
      h1(style="margin-top:100px")= title
  .row
    .col-12.col-lg-8
      p(style="font-size: 18px;")  
        | A Future-Forward Approach to Customer Support
      p(style="font-size: 18px;") 
        | We believe that AI is the future of customer support. By empowering businesses with cutting-edge technology, we are reshaping how companies interact with their customers. Our mission is simple: to make support faster, smarter, and more personalized, helping businesses build stronger relationships and achieve lasting customer loyalty.
      p(style="font-size: 18px;")  
        | The AI-Powered Customer Support Platform aims to address the increasing demand for timely and personalized support. The platform will use a chatbot to handle common queries and escalate complex ones to human agents. By utilizing AI, MongoDB, Express, Node.js, and Angular, the system will streamline customer interactions, improve response times, and enhance customer satisfaction.