extends layout

block content
  h1(style="margin-top:100px")
  .container
    h1 Register now
    p.lead(style='font-size: 16px;')
      | Create your account. Do you have one?
      br 
      a(href='/signin', style='color: red; font-size: 16px;') Sign in Now.
      br
    .form-group
      label(for='username') Username
      input.form-control(type='text', id='username', name='username', placeholder='Enter a username')
    .form-group
      label(for='password') Password
      input.form-control(type='password', id='password', name='password', placeholder='Enter a password')
    .form-group
      label(for='confirm-password') Confirm Password
      input.form-control(type='password', id='confirm-password', name='confirm-password', placeholder='Enter a password again')
    a.btn.btn-primary(href='/') Submit
    &nbsp;
    a.btn.btn-default(role='button', href='/') Cancel
    